---
layout: default.hbs
title: Home
---

<div class="container">

	<header>
		<div class="pull-left">
			<h2>Sección actual</h2>
		</div>
		<div class="pull-right">
			<div class="user">
				<div class="meta">
					<div class="username">Raúl Hernández</div>
				</div>
				<div class="avatar">
					<img src="http://placehold.it/100x100" alt="image">
				</div>
			</div>
		</div>
	</header>

	<aside class="ah">
		<div class="top">
			<div class="menu">
				<div class="svg">
					<?xml version="1.0" encoding="utf-8"?>
					<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
					<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
					<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="21" x2="52" y2="21"/>
					<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="33" x2="52" y2="33"/>
					<line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="12" y1="45" x2="52" y2="45"/>
					</svg>

					{{!-- <svg class="inline-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="100%" height="100%" viewBox="0 0 32 22.5" enable-background="new 0 0 32 22.5" xml:space="preserve">
								<g class="svg-menu-toggle">

								<path class="bar" d="M20.945,8.75c0,0.69-0.5,1.25-1.117,1.25H3.141c-0.617,0-1.118-0.56-1.118-1.25l0,0
									c0-0.69,0.5-1.25,1.118-1.25h16.688C20.445,7.5,20.945,8.06,20.945,8.75L20.945,8.75z">
								</path>
								<path class="bar" d="M20.923,15c0,0.689-0.501,1.25-1.118,1.25H3.118C2.5,16.25,2,15.689,2,15l0,0c0-0.689,0.5-1.25,1.118-1.25 h16.687C20.422,13.75,20.923,14.311,20.923,15L20.923,15z">
								</path>
								<path class="bar" d="M20.969,21.25c0,0.689-0.5,1.25-1.117,1.25H3.164c-0.617,0-1.118-0.561-1.118-1.25l0,0
									c0-0.689,0.5-1.25,1.118-1.25h16.688C20.469,20,20.969,20.561,20.969,21.25L20.969,21.25z">
								</path>
								<!-- needs to be here as a 'hit area' -->
			          <rect width="320" height="220" fill="none">

								</rect>
								</g>

					</svg> --}}
				</div>
			</div>
			<div class="brand">
				<img src="http://placehold.it/200x200" alt="image">
			</div>
		</div>

		<ul>
			<li class="">
				<a href="#">
					<div class="icon">
						<i class="icon-basic-sheet-multiple"></i>
					</div>
					<h4>Posts</h4>
				</a>
			</li>
			<li class="">
				<a href="#">
					<div class="icon">
						<i class="icon-basic-picture-multiple"></i>
					</div>
					<h4>Media</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="icon">
						<i class="icon-basic-paperplane"></i>
					</div>
					<h4>Pages</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="icon">
						<i class="icon-basic-webpage-txt"></i>
					</div>
					<h4>Comments</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="icon">
						<i class="icon-basic-display"></i>
					</div>
					<h4>Appearance</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="icon">
						<i class="icon-basic-mixer2"></i>
					</div>
					<h4>Plugins</h4>
				</a>
			</li>
			<li>
				<a href="#">
					<div class="icon">
						<i class="icon-basic-accelerator"></i>
					</div>
					<h4>Users</h4>
				</a>
			</li>
		</ul>

		<div class="toggle">
			<i class="fa fa-long-arrow-left"></i>
		</div>
	</aside>

	<main class="main">

		<div class="inner">

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

			<p>
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
				<img src="http://placehold.it/100x100" alt="image">
			</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem soluta error, quos culpa odio mollitia. Quasi similique dignissimos quam natus aut ullam, magnam illum id sequi eum fugiat ratione obcaecati sint, corrupti iste delectus. Nostrum minus vitae dolorum, adipisci. Sint doloremque quam, labore explicabo quos molestias, vel laboriosam asperiores eaque deserunt minus repellat ipsa eligendi omnis dolore quaerat veniam illo quae fuga alias! Dicta temporibus eos corporis. Corporis dolore voluptate eius sed incidunt harum similique cupiditate, laboriosam possimus deleniti. Sed dolorem inventore, neque voluptatum nisi facilis, cupiditate repellat eaque consequuntur quasi animi voluptatibus amet harum itaque minus. Voluptatum, harum, mollitia.</p>

		</div>

	</main>

</div>